aiodns==4.0.4
AppKit==0.2.8
async_timeout==5.0.1
audio.wave==4.0.2
backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
clcache==4.2.0
cloudpickle==3.1.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==49.0.0
dill==0.4.1
docutils==0.23
filelock==3.29.7
Foundation==0.1.0a0.dev1
future_fstrings==1.2.0
gunicorn==26.0.0
h2==4.3.0
HTMLParser==0.0.2
httpx==0.28.1
imageio==2.37.3
importlib_metadata==9.0.0
ipython==9.15.0
ipywidgets==8.1.8
jnius==1.1.0
jsonschema==4.26.0
keyring==25.7.0
lazy_loader==0.5
lxml==6.1.1
mock==5.2.0
numpy==2.5.1
ordered_set==4.1.0
orderedset==2.0.3
pandas==3.0.3
Pillow==12.3.0
poetry==2.4.1
pydantic==2.13.4
pydantic_core==2.47.0
pygraphviz==2.0
PyInstaller==6.21.0
pyodide==0.0.2
PyOpenGL==3.1.10
pyOpenSSL==26.3.0
pytest==9.0.3
redis==8.0.1
sets==0.3.2
setuptools==82.0.1
simplejson==4.1.1
Sphinx==9.1.0
subprocess32==3.5.4
textual_speedups==0.2.1
thread==2.0.6
toml==0.10.2
tree_sitter_bash==0.25.1
tree_sitter_css==0.25.0
tree_sitter_go==0.25.0
tree_sitter_html==0.23.2
tree_sitter_java==0.23.5
tree_sitter_javascript==0.25.0
tree_sitter_json==0.24.8
tree_sitter_markdown==0.5.1
tree_sitter_python==0.25.0
tree_sitter_regex==0.25.0
tree_sitter_rust==0.24.2
tree_sitter_sql==0.3.11
tree_sitter_toml==0.7.0
tree_sitter_xml==0.7.0
tree_sitter_yaml==0.7.2
uv_build==0.11.28
uvloop==0.22.1
VideoCapture==0.9.5
vmprof==0.4.18.1
xmlrpclib==1.0.1
zstandard==0.25.0
